<mat-card>
    <mat-form-field>
        <mat-select placeholder="Seleccione la cámara de Rover" [(ngModel)]="currentCamera">
            <mat-option *ngFor="let cam of cameras" 
                        [value]="cam"
                        (click)="onSelectCamera(cam)">{{cam}}</mat-option>
        </mat-select>
    </mat-form-field>        
</mat-card>

<div *ngIf="marsImages" class="card-container">
    <mat-card *ngFor="let masrImage of marsImages" class="card-content">
        <mat-card-header>
            <mat-card-title>{{masrImage.rover.name}}</mat-card-title>
            <mat-card-subtitle>{{masrImage.earth_date | date:'mediumDate'}}</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image [src]="masrImage.img_src">
    </mat-card>
</div>

<div *ngIf="!marsImages && !error" class="card-content">
    <mat-spinner class="card-content">{{error}}</mat-spinner>
</div>

<div *ngIf="error">
    <mat-card >
        <h2>{{error}}</h2>
        <mat-card-content>
            <mat-list>
                <h3 mat-subheader>Detalles del error</h3>
                <mat-list-item>
                    <h4 mat-line>Name</h4>
                    <p mat-line>{{errorDes.name}}</p>
                </mat-list-item>
                <mat-list-item>
                    <h4 mat-line>Status</h4>
                    <p mat-line>{{errorDes.status}}</p>
                </mat-list-item>
                <mat-list-item>
                    <h4 mat-line>Status text</h4>
                    <p mat-line>{{errorDes.statusText}}</p>
                </mat-list-item>
                <mat-list-item>
                    <h4 mat-line>Url</h4>
                    <p mat-line>{{errorDes.url}}</p>
                </mat-list-item>
                <mat-list-item>
                    <h4 mat-line>Mensaje</h4>
                    <p mat-line>{{errorDes.message}}</p>
                </mat-list-item>
            </mat-list>
        </mat-card-content>
    </mat-card>
</div>